fastapi
uvicorn
pydantic
python-dotenv
chromadb
PyMuPDF
google-generativeai
langchain-google-genai
langchain-text-splitters
pandas
pytesseract
python-docx
Pillow
python-pptx
sentence-transformers
gtts
moviepy
python-multipart
